.footer-wrapper {
    background-color: var(--black);
    padding: 20px 0;
    
    .contact {
        &--phone {
            margin-right: 20px;
        }
    }

    p {
        color: var(--white);

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            margin-right: 10px;
            path {
                fill: var(--primary);
            }
        }
    }
}