@import '../../../styles/scss/mixin.scss';

.header__navbar {
    padding: 20px 0;
    // background-color: rgba($color: #ffffff, $alpha: .3);
    
    .nav-item {
        margin: .5rem 1rem;

        &:last-child {
            margin-right: 0;
        }

        a {
            position: relative;
            color: var(--white);
            padding: 0;
            font-size: 20px;

            &:before {
                content: '';
                @include multi-prefix((
                    transition: transform 0.3s,
                    transform-origin: 100% 50%,
                    transform: scale3d(0, 1, 1)
                ));
                @include position-absolute(100%, n, n, 0);
                width: 100%;
                height: 2px;
                background: var(--white);
                pointer-events: none;
            }

            &:hover {
                &:before  {
                    @include multi-prefix((
                        transform-origin: 0% 50%,
                        transform: scale3d(1, 1, 1)
                    ));
                }    
            }

            &.active {
                color: var(--primary);

                &::before {
                    background: var(--primary);
                }
            }
        }
    }
}
