@import '../../../styles/scss/mixin.scss';

.searchbar-wrapper {
    position: relative;

    #searchbar {
        @media (max-width: 992px) {
            display: block !important;

            button {
                width: calc(100% - 20px);
            }
        }

        .searchbar__select {
            @include single-prefix(flex, 1);
            margin: 10px;

            &:first-child {
                margin-left: 0;
            }

            & > div {
                z-index: 9;
                &:first-of-type {
                    border-radius: 50px;
                }
            }
        }
    
        button {
            @include single-prefix(flex, 0.5);
            margin-left: 10px;
    
            svg {
                margin-right: 10px;
            }
        }
    }
}