@import '../../../styles/scss/mixin.scss';

@keyframes coverUp {
    0% {
        @include multi-prefix((
            transform-origin: 50% 100%,
            transform: scale3d(1, 0.045, 1)
        ))
    }

    50% {
        @include multi-prefix((
            transform-origin: 50% 100%,
            transform: scale3d(1, 1, 1)
        ))
    }

    51% {
        @include multi-prefix((
            transform-origin: 50% 0%,
            transform: scale3d(1, 1, 1)
        ))
    }

    100% {
        @include multi-prefix((
            transform-origin: 50% 0%,
            transform: scale3d(1, 0.045, 1)
        ))
    }
}

.header {
    position: relative;

    &__bg {
        img {
            width: 100%;
            height: 800px;
            object-fit: cover;
            -o-object-fit: cover;

            @media (max-width: 992px) {
                height: 500px;
            }
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            @include position-absolute(n, n, n, n);
            background-color: var(--black);
            opacity: .5;
        }
    }

    &__top-wrapper {
        @include position-absolute(0, n, n, n);
        z-index: 2;
        width: 100%;

        .header__top {
            padding: 10px 0;
            
            .top__contact {
                span {
                    &:nth-child(1) {
                        margin-right: 20px;
                    }
        
                    &.contact--phone, &.contact--mail {
                        svg {
                            margin-right: 10px;
                        }
                        padding: 5px 0;
                    }
                }
            }
    
            .top__buttons {
                .btn-link {
                    color: var(--white);
                    position: relative;
                    text-decoration: none;
                    padding: 0;
                    margin: .375rem .75rem;

                    &::before, &::after {
                        @include position-absolute(100%, n, n, 0);
                        width: 100%;
                        height: 1px;
                        background: currentColor;
                        pointer-events: none;
                    }

                    &::before {
                        content: '';
                        height: 100%;
                        top: 0;
                        opacity: 0;
                    }

                    &::after {
                        content: '';
                        @include single-prefix(transition, opacity 0.3s);
                    }

                    &:hover {
                        &:before  {
                            opacity: 1;
                            animation: coverUp 0.3s ease forwards;
                            -webkit-animation: coverUp 0.3s ease forwards;
                        }    

                        &::after {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    &__text {
        @include position-absolute(50%, n, n, 50%);
        @include single-prefix(transform, translate(-50%, -50%));

        @media (max-width: 992px) {
            display: none;
        }

        p {
            text-align: center;
            color: var(--white);
            font-size: 30px;
            text-transform: uppercase;
        }
    }

    &__search {
        @include position-absolute(n, n, 0, 50%);
        @include single-prefix(transform, translateX(-50%));
        width: 100%;
        z-index: 1;
    }
}