@import '../../../styles/scss/mixin.scss';

.page-wrapper {
    .header {
        &__top-wrapper {
            z-index: 2;
            width: 100%;
    
            .header__top {
                background-color: var(--black);
                
                .top__contact {
                    span {
                        &:nth-child(1) {
                            margin-right: 20px;
                        }
            
                        &.contact--phone, &.contact--mail {
                            svg {
                                margin-right: 10px;
                            }
                            padding: 5px 0;
                        }
                    }
                }
        
                .top__buttons {
                    // .btn-link {
                    //     color: var(--primary);
                    //     position: relative;
                    //     text-decoration: none;
                    //     padding: 0;
                    //     margin-left: 10px;
                    //     display: inline-flex;
                    //     cursor: pointer;
    
                    //     &::before, &::after {
                    //         @include position-absolute(100%, n, n, 0);
                    //         width: 100%;
                    //         height: 1px;
                    //         background: currentColor;
                    //         pointer-events: none;
                    //     }
    
                    //     &::before {
                    //         content: '';
                    //         height: 100%;
                    //         top: 0;
                    //         opacity: 0;
                    //     }
    
                    //     &::after {
                    //         content: '';
                    //         @include single-prefix(transition, opacity 0.3s);
                    //     }
    
                    //     &:hover {
                    //         &:before  {
                    //             opacity: 1;
                    //             animation: coverUp 0.3s ease forwards;
                    //             -webkit-animation: coverUp 0.3s ease forwards;
                    //         }    
    
                    //         &::after {
                    //             opacity: 0;
                    //         }
                    //     }
    
                    //     svg {
                    //         margin-left: 5px; 
                    //     }
                    // }
    
                    position: relative;
    
                    .user__dropdown {
                        width: 200px;
                        margin-top: 5px;
                        background-color: #fff;
                        border-radius: 5px;
                        @include position-absolute(n,n,n,n);
                        @include single-prefix(box-shadow, 0 0 5px var(--white));
                        display: none;
    
                        &.fadeInUp {
                            display: block;
                        }
    
                        ul {
                            list-style: none;
                            padding: 15px;
                            margin-bottom: 0;
    
                            li {
                                cursor: pointer;
    
                                a {
                                    padding: 10px 0;
                                    border-bottom: 1px solid #eee;
                                    display: block;
                                    color: var(--light-color);
                                    text-decoration: unset;
                                    @include single-prefix(transition, 0.25s);
    
                                    svg {
                                        margin-right: 5px;
                                    }
                                }
    
                                &:last-child {
                                    a {
                                        border-bottom: unset;
                                    }
                                }
    
                                &:hover {
                                    a {
                                        color: var(--secondary);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &__text-search {
            display: none;
        }
    }

    &.page--home {
        .header {
            position: relative;
            background-image: url("./header_bg4.jpg");
            /* Set a specific height */
            height: 100vh;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                @include position-absolute(n, n, n, n);
                background-color: var(--black);
                opacity: .5;
            }
            // &__bg {
            //     // img {
            //     //     width: 100%;
            //     //     height: 100vh;
            //     //     object-fit: cover;
            //     //     -o-object-fit: cover;
        
            //     //     @media (max-width: 992px) {
            //     //         height: 500px;
            //     //     }
            //     // }
        
            //     &::before {
            //         content: '';
            //         width: 100%;
            //         height: 100%;
            //         @include position-absolute(n, n, n, n);
            //         background-color: var(--black);
            //         opacity: .5;
            //     }
            // }
        
            &__top-wrapper {
                @include position-absolute(0, n, n, n);
                .header__top {
                    background-color: unset;
                }
            }
        
            &__text-search {
                display: block;
                @include position-absolute(50%, n, n, 50%);
                @include single-prefix(transform, translate(-50%, -50%));
        
                @media (max-width: 992px) {
                    display: none;
                }
        
                p {
                    text-align: center;
                    color: var(--white);
                    font-size: 50px;
                    margin: 0;
                }
        
                .header__search {
                    position: relative;
                    input {
                        width: 100%;
                        height: 50px;
                        border-radius: 50px;
                        padding: 0 50px 0 25px;
                        border: unset;
        
                        &:focus{
                            outline: none;
                            box-shadow: 0 0 10px 0 var(--secondary);
                        }
                    }
        
                    button {
                        @include position-absolute(n,0,5px,n);
                        width: 50px;
                        height: 40px;
                        border: unset;
                        border-left: 1px solid lightgray;
                        background-color: unset;
                        display: flex;
                        align-items: center;
                        justify-content: center;
        
                        .svg-icon-search {
                            background: url('./nhatro-icon.svg');
                            background-position: 144px 1px;
                            background-size: 192px;
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

