@import '../../../styles/scss/mixin.scss';

.style--grid {
    @include single-prefix(flex-wrap, wrap);
    margin: 0 -15px;

}

%itembtns {
    button {
        border: none;
        margin-bottom: 5px;
        display: block;
        width: 30px;
        height: 30px;
        background-color: var(--secondary);

        @media (min-width: 1200px) {
            @include multi-prefix((
                transform: translate(-50px,0),
                transition: all .45s ease 0s
            ))
        } 

        path {
            fill: var(--white);
        }

        &:hover {
            background-color: var(--white);

            path {
                fill: var(--secondary);
            }
        }
    }
}

.item-wrapper {
    padding: 15px;

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding-top: 0;
    }

    .item__head {
        overflow: hidden;
        position: relative;

        .item__image {
            margin: 0 auto;
            padding: 0;
            text-align: center;

            .featured-img {
                overflow: hidden;
                position: relative;
                text-align: center;
                margin: 0 auto;

                a {
                    display: block;
                    
                    div {
                        height: 300px;

                        img {
                            width: 100%;
                            // @include prefix(transition, filter .6s,opacity .6s,transform .6s,box-shadow .3s);
                        }
                    }
                }
            }
        }

        .item__btns {
            display: block;
            @include position-absolute(10px, n, n, 10px);
            @extend %itembtns;
        }
    }

    &:hover {
        .item__btns {
            button {
                @include single-prefix(transform, translate(0,0));
            }
        }
    }

    .item__content {
        padding: 15px;

        .item__name {
            h5 {
                font-weight: 400 !important;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                    text-decoration: none;
                    color: var(--black);
                    white-space: nowrap;
                    @include single-prefix(transition, all .45s ease 0s);

                    &:hover {
                        opacity: 0.3;
                    }
                }
            }
        }

        .item__location {
            margin-bottom: .5rem;
            
            path {
                fill: var(--third);
            }
            
            span {
                &.city {
                    margin: 0 5px;
                }
            }
        }

        .item__price {
            font-size: 20px;
            color: var(--third);
        }
    }
}

.custom-tooltip {
    font-size: 13px;
}

.style--list {
    .item-wrapper {
        padding: 15px;
        border: 1px solid lightgray;
        margin-bottom: 20px;

        .item__image {
            .featured-img { 
                a {
                    div {
                        width: 300px;
                        height: 300px;
    
                        img {
                            width: 100%;
                            width: 100%;
                            height: 100%;
                            max-height: 100%;
                            margin: 0 auto;
                            object-fit: cover;
                            -o-object-fit: cover;
                        }
                    }
                }
            }
        }
        .item__content {
            @include single-prefix(flex, 1);
            padding-top: 0px;

            .content {
                &__left {
                    @include single-prefix(flex, 1);

                    .item__name {
                        a {
                            white-space: unset;
                        }
                    }
                }

                &__right {
                    text-align: right;

                    .item__price {
                        color: var(--third);
                    }

                    .item__btns {
                        @extend %itembtns;
                        button {
                            @include single-prefix(transform, unset);
                            margin-right: 0;
                            margin: 20px 0 5px 10px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}