body {
    font-weight: 300 !important;
}

p, label, h1, h2, h3, h4, h5, h6, button {
    font-family: var(--font-family) !important;
    font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important; 
}
