@import './mixin.scss';

body {
    font-weight: 300 !important;
    font-family: var(--font-family) !important;
}

p, label, h1, h2, h3, h4, h5, h6, button, .custom-tooltip {
    font-family: var(--font-family) !important;
    font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important; 
}

.white-text {
    color: #fff !important;
}

.font-2 {
    font-family: var(--font-family-2) !important;
}

.translate3d--000 {
    @include single-prefix(transform, translate3d(0,0,0));
}

.btn {
    @include single-prefix(transition, 0.25s);

    &.btn-outline-primary {
        border: 2px solid var(--primary);
        color: var(--primary);
        border-radius: 1rem;

        &:hover {
            background-color: unset;
            box-shadow: 0 0.5em 0.5em -0.4em var(--primary);
            @include single-prefix(transform, translateY(-0.25em));
        }

        &:focus {
            box-shadow: 0 0 10px 0px var(--primary);
        }

        &:active {
            background-color: var(--secondary);
            color: var(--white) !important;
        }

        &.custom-btn {
            border-color: var(--secondary);
            color: var(--secondary);

            &:hover {
                box-shadow: 0 0.5em 0.5em -0.4em var(--secondary);
            }
        }
    }

    &.btn-modal {
        border-radius: 1rem;
        min-width: 100px;

        &.btn-success {
            background-color: var(--secondary);
            border: 1px solid var(--secondary);

            &:hover {
                background-color: #157347;
                border-color: #146c43;
            }
        }
    }
}

.card {
    &--custom {
        border-radius: 10px;
        @include single-prefix(box-shadow, 0 2px 6px rgba(70, 80, 110, .2));
    }
}
